@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

body {
  background-color: #181717;
}

.logo img {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Caveat";
  font-size: 64px;
  margin: 0.5%;
  margin-bottom: 0;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider img {
  height: 100px;
  width: auto;
  opacity: 0.5;
  max-width: 15vw;
}

@media (max-width: 600px) {
  .logo img {
    width: 60%;
  }

  h1 {
    font-size: 44px;
  }

  .divider img {
    max-width: 90px;
    height: auto;
  }
}

.line-group-left,
.line-group-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  flex: 1;
}

.line {
  height: 3px;
  width: 100%;
  background-color: white;
  opacity: 0.5;
  border-radius: 999px;
}

.line-group-left .line:nth-of-type(2) {
  width: 99%;
}

.line-group-right .line:nth-of-type(2) {
  width: 99%;
  align-self: flex-end;
}

.content {
  display: flex;
  width: 95%;
  margin: 0 auto;
  gap: 2rem;
  margin-top: 1rem;
}

/* Responsive breakpoints */
@media (max-width: 1400px) {
  .content {
    flex-direction: column;
  }
}

.filters {
  flex: 1;
}

.pokemons {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

/* Responsive breakpoints */
@media (max-width: 1200px) {
  .pokemons {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .pokemons {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .pokemons {
    grid-template-columns: repeat(1, 1fr);
  }
}

.pokemons div {
  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.pokemon-card {
  margin: 0 auto;
  padding: 1rem 2rem;
  max-width: 240px;
  box-sizing: border-box;
}

.pokemon-card img {
  width: 25vh;
}

.pokemon-card h2 {
  color: white;
  font-family: "Poppins";
  text-transform: capitalize;
  margin: 0 auto;
  text-align: center;
}

.pokemon-content {
  display: flex;
  flex-direction: column;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5vh 0 5vh 0;
}

select,
::picker(select) {
  appearance: base-select;
}

select {
  border: 3px solid rgba(255, 255, 255, 0.8);
  background: #181717;
  padding: 10px;
  transition: 0.4s;
  color: white;
  width: 100%;
  font-family: "Poppins";
  font-size: 24px;
  padding-left: 2rem;
}

select::picker-icon {
  color: white;
  margin-right: 1rem;
  border-radius: 1rem;
}

select:open::picker-icon {
  rotate: 90deg;
  transition: 0.4s rotate;
}

option {
  background-color: #181717;
  color: white;
  text-transform: uppercase;
}

option img {
  width: 3%;
  height: auto;
}

button {
  background-color: white;
  padding: 0.3rem 0.5rem;
  border-radius: 0.4em;
  border: 2px solid #181717;
  font-family: "Poppins";
  font-weight: 600;
  color: #181717;
}

button:hover {
  background-color: #181717;
  color: white;
  border: 2px solid white;
}
